<div class="visitors-statistics">
    <h4 class="h1">{{value && value[1]}}</h4>
    <div class="visitors-title">New Visitors</div>
    <div class="statistics-chart">
        <div echarts [options]="option" class="echart" (chartInit)="onChartInit($event)">
        </div>
    </div>
    <div class="statistics-footer">
        <div class="chart-values h5">
            <span class="chart-value">{{value && value[0]}}%</span>
            <span class="chart-value">{{value && 100-value[0]}}%</span>
        </div>
        <ngx-legend-chart class="visitors-statistics-legend" [legendItems]="chartLegend"></ngx-legend-chart>
    </div>
</div>